body {
    width: 100vw;
    background-color: black;
    margin: 0;
    padding: 0;
  }
  
  .backGround {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  nav {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid white;
  }
  
  h1 {
    color: white;
    font-size: 60px;
    margin: 10px 0px 10px 0px;
  }
  
  ul {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    word-spacing: 10px;
    font-size: 25px;
    display: flex;
  }
  
  li {
    margin-left: 20px;
  }
  
  li :hover {
    color: #2BBFB3;
  }
  
  li :active {
    color: darkgray;
  }
  
  li a {
    text-decoration: none;
    color: white;
  }
  
  .current {
    color: #2BBFB3;
  }
  
  h2 {
    color: white;
    font-size: 40px;
    padding-left: 35px;
    text-align: center;
  }
  